<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610542394780-1idc4fj3gdtgm7fl1t6j5ocl8vttrdl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610542394780-1idc4fj3gdtgm7fl1t6j5ocl8vttrdl5</string>
	<key>API_KEY</key>
	<string>AIzaSyBwcXMDgxjom76LrkCuQzAIcpQsct9DEO0</string>
	<key>GCM_SENDER_ID</key>
	<string>610542394780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudflutterfire</string>
	<key>PROJECT_ID</key>
	<string>crudflutterfire-75947</string>
	<key>STORAGE_BUCKET</key>
	<string>crudflutterfire-75947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610542394780:ios:870cf950953dd13be7bc59</string>
</dict>
</plist>